{{#if productsExists}}
    <h2 class="h2"> Nuestros productos. </h2> 
    <div class="table-responsive">
        <table class="table table-secondary">
            <tr>
                <th> Producto </th>
                <th> Precio </th>
                <th> Imagen </th>
                <th> Stock </th>
            </tr>

            {{#each products}}
                <tr>
                    <td>
                        {{title}}
                    </td>
                    <td>
                        {{price}}
                    </td>
                    <td>
                        <img src={{thumbnail}} width="40px" alt="">
                    </td>
                    <td>
                        {{stock}}
                    </td>
                </tr>
            {{/each}}
        </table>
    </div>
{{else}}
    <h2 class="alert alert-danger"> No hay productos </h2>
{{/if}}