<div class="jumbotron">
    <p class="h2"><b>Argumentos:</b> {{args}}</p>
    <p class="h2"><b>Sistema Operativo:</b> {{so}}</p>
    <p class="h2"><b>Node:</b> {{nvm}}</p>
    <p class="h2"><b>Uso de memoria:</b> {{rss}}</p>
    <p class="h2"><b>CPUs:</b> {{cpus}}</p>
    <p class="h2"><b>Path de ejecución:</b> {{path}}</p>
    <p class="h2"><b>ID proceso:</b> {{processID}}</p>
    <p class="h2"><b>Carpeta:</b> {{folder}}</p>
</div>